################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Onbowman.MSOA.Arranger/.vs/Onbowman.MSOA.Arranger/v16
/Onbowman.MSOA.Arranger/obj
/Onbowman.MSOA.Arranger/bin/Debug/net5.0
/Onbowman.MSOA.Arranger/bin/Debug/net6.0
/Onbowman.MSOA.Arranger/.vs/Onbowman.MSOA.Arranger
/Onbowman.MSOA.Arranger/.vs/ProjectEvaluation
/SolaceTK.Core/.vs
/SolaceTK.Core/bin/Debug/net7.0
/SolaceTK.Core/obj
/SolaceTK.Core/Properties/PublishProfiles
/SolaceTK.Contexts/bin/Debug/net7.0
/SolaceTK.Contexts/obj
/SolaceTK.Models/bin/Debug/net7.0
/SolaceTK.Models/obj
/SolaceTK.Telemetry/obj
/SolaceTK.Data/bin/Debug/net7.0
/SolaceTK.Data/obj
/SolaceTK.Telemetry/bin/Debug/net7.0
/SolaceTK.Behaviors/obj
/SolaceTK.Behaviors/bin/Debug/net7.0
/SolaceTK.Projects/bin/Debug/net7.0
/SolaceTK.Projects/obj
/SolaceTK.Events/obj
/SolaceTK.Controllers/bin/Debug/net7.0
/SolaceTK.Controllers/obj
/SolaceTK.Environments/bin/Debug/net7.0
/SolaceTK.Environments/obj
/SolaceTK.Events/bin/Debug/net7.0
/SolaceTK.Artifacts/obj
/SolaceTK.Sounds/obj
/SolaceTK.Artifacts/bin/Debug/net7.0
/SolaceTK.Sounds/bin/Debug/net7.0
/SolaceTK.Standalone/bin/Debug/net7.0
/SolaceTK.Standalone/obj
